{
  "openapi": "3.0.3",
  "info": {
    "title": "IP Geolocation API",
    "description": "Free IP geolocation API that provides location data for any IP address. Uses ip-api.com.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://ip-api.com"
    }
  ],
  "paths": {
    "/json/{ipAddress}": {
      "get": {
        "operationId": "getGeolocationByIp",
        "summary": "Get geolocation data for a specific IP address",
        "description": "Returns geolocation information including country, region, city, latitude, longitude, timezone, and ISP for the given IP address.",
        "parameters": [
          {
            "name": "ipAddress",
            "in": "path",
            "required": true,
            "description": "The IP address to look up (IPv4 or IPv6)",
            "schema": {
              "type": "string",
              "example": "8.8.8.8"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to include in response",
            "schema": {
              "type": "string",
              "example": "status,message,country,regionName,city,lat,lon,timezone,isp,query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geolocation lookup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeolocationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/": {
      "get": {
        "operationId": "getGeolocationForCaller",
        "summary": "Get geolocation data for the calling IP address",
        "description": "Returns geolocation information for the IP address making the request.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to include in response",
            "schema": {
              "type": "string",
              "example": "status,message,country,regionName,city,lat,lon,timezone,isp,query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geolocation lookup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeolocationResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GeolocationResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "success or fail"
          },
          "country": {
            "type": "string",
            "description": "Country name"
          },
          "countryCode": {
            "type": "string",
            "description": "Two-letter country code"
          },
          "region": {
            "type": "string",
            "description": "Region/state short code"
          },
          "regionName": {
            "type": "string",
            "description": "Region/state name"
          },
          "city": {
            "type": "string",
            "description": "City name"
          },
          "zip": {
            "type": "string",
            "description": "Zip/postal code"
          },
          "lat": {
            "type": "number",
            "description": "Latitude"
          },
          "lon": {
            "type": "number",
            "description": "Longitude"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone (e.g., America/New_York)"
          },
          "isp": {
            "type": "string",
            "description": "Internet Service Provider name"
          },
          "org": {
            "type": "string",
            "description": "Organization name"
          },
          "as": {
            "type": "string",
            "description": "AS number and organization"
          },
          "query": {
            "type": "string",
            "description": "IP address used for the query"
          }
        }
      }
    }
  }
}
